[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.1"
selenium = "==4.7.0"
pytest = "==6.2.4"
pyyaml = "==6.0"
allure-pytest = "==2.9.43"
pydantic = "==1.10.2"
beautifulsoup4 = "==4.11.1"

[dev-packages]

[requires]
python_version = "3.10"
